doctype html
html
 head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='copyright', content='Copyright (c) 2014 Mateusz Kowalik')
  
  link(rel='shortcut icon', href='/images/icon.png')
  title Dashboard
  
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/added.css')
 
 body
  nav.navbar.navbar-inverse
   div.container
    div.navbar-header
     a.navbar-brand(href='dash') Go Shopping +
    div
     ul.nav.navbar-nav.navbar-right
      li 
       a(href="/logoutUser", class='glyphicon glyphicon-log-out navbar-brand') Logout
       a(href="/dash", class='glyphicon glyphicon-dashboard navbar-brand') Dashboard

    div.navbar-inner
     div.nav-center
      div(class='nav-center', id='middleText')
       h4 Welcome #{username}

  center
   div.container
    div.wrappAddItem
     form(action='/addList', method='POST')
      input(type="text", name="listName", class="inputItem", value='#{theDate}' maxlength="20")
      input(type="submit", value="Create List" class="itemBtn")  

  div.container
   center
    for list in lists
     ol.rounded
      li
       a(href="/listOfItems?id=#{list._id}&ownerID=#{owner}") #{list.listName}
        span.options
        a(href='/deleteList?listDel=#{list._id}')
         img(src="/images/delete.png", id="logoImage")

 
 


    

